<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Error</title>
<link rel="icon" href="img/favicon.png">
<link rel="styLesheet" href="style/custom.css">
</head>
<body>
	<div class="login-error">
		<div class="form-error">
			<h1 style="color: red">Usuário não encontrado!!</h1>
			<button onclick="location.href='login.html'">Página inicial</button>
		</div>
	</div>
	<script>
		let resposta = confirm("Usuário não encontrado!!!")
		if (resposta === true) {
			window.location.href = "login.html"
		}
	</script>
</body>
</html>